@use "../abstracts/" as *;

/* Start GLOBAL Rules */

html {
  @include prefixes(box-sizing, border-box);
  font-size: 100%;
}

*,
*::before,
*::after {
  @include prefixes(box-sizing, inherit);
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Default styles for the container */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Breakpoint for small devices (phones) */
@include media-query("phone") {
  .container {
    max-width: 100%;
  }
}

/* Breakpoint for tablets */
@include media-query("tablet") {
  .container {
    max-width: 720px;
  }
}

/* Breakpoint for small laptops */
@include media-query("small-laptop") {
  .container {
    max-width: 960px;
  }
}

/* Breakpoint for laptops */
@include media-query("laptop") {
  .container {
    max-width: 1140px;
  }
}

/* Breakpoint for large desktops */
@include media-query("desktop") {
  .container {
    max-width: 1320px;
  }
}

/* End GLOBAL Rules */
