// Main Color
$primary-color: #2ecc71;
$light-color: #ffffff;
// Backgorund COlor
$primary-bg-color: #252e30;
$secondary-bg-color: #f2f2f1;
$accent-bg-color: #4b5456;
$dark-bg-color: #191f21;
// Text Color
$primary-tx-color: #566366;
$secondary-tx-color: #919191;
// Font Size
$small-font-size: 0.875rem; // 14px
$normal-font-size: 1rem; // 16px
$medium-font-size: 1.125rem; // 18px
$large-font-size: 1.25rem; // 20px
$extra-large-font-size: 1.375rem; // 22px
$super-large-font-size: 1.875rem; // 30px
// Font Weight
$normal-font-weight: 400;
$bold-font-weight: 500;
$extra-bold-font-weight: 600;
$line-height: 30px;
// Section Padding
$section-padding: 100px 0; // Padding top and bottom 100 left and right 0
$heading-padding-title-top: 1.25rem; // 20px
$heading-padding-title-bottom: 3.125rem; // 50px
